@font-face {
	font-family: "icons";
	src: url("../fonts/icon/icons.eot?#iefix") format("embedded-opentype"),
		  url("../fonts/icon/icons.woff2") format("woff2"),
		  url("../fonts/icon/icons.woff") format("woff"),
		  url("../fonts/icon/icons.ttf") format("truetype"),
		  url("../fonts/icon/icons.svg#icons") format("svg");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "icons";
   src: url("../fonts/iconbold/icons.eot?#iefix") format("embedded-opentype"),
   url("../fonts/iconbold/icons.woff2") format("woff2"),
   url("../fonts/iconbold/icons.woff") format("woff"),
   url("../fonts/iconbold/icons.ttf") format("truetype"),
   url("../fonts/iconbold/icons.svg#icons") format("svg");
   font-style: normal;
   font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
      font-family: 'icons';
      src: url('../fonts/icon/icons.svg#icons') format('svg');
   }
   @font-face {
      font-family: 'icons';
      src: url('../fonts/iconbold/icons.svg#icons') format('svg');
   }
}

.icon {
	font-family: icons, sans-serif;
	text-transform: lowercase;
}

