* {outline: none; margin: 0; padding: 0px;}
html {font-family: sans-serif; touch-action: manipulation; box-sizing: border-box;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
img {border: 0; max-width: 100%; vertical-align: bottom; }
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
input, button, textarea, select {font-family:$default-font; resize: none; font-size: $default-size; font-weight: 400;}
*, *::before, *::after{box-sizing: inherit;}

body {
	height: 100vh;
	font-size: $default-size;
	line-height: $default-size * 1.5;
	font-family: $default-font;
	color: $default-color;
	font-weight: 400;
	cursor: default;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	color: $default-link;
	text-decoration: none;
	outline: none;

	&:hover {
		text-decoration: none;
	}
}

.wrapper {
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrap {
	flex: 1 0 auto;
	position: relative;
}

.footer {
	flex: 0 0 auto;
	position: relative;
}

.content {
	position: relative;
	padding: 20px 0 60px;
}

.container {
	max-width: $container;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter-site;
	padding-right: $gutter-site;

	&-slim {
		max-width: $container-slim;
		margin-left: auto;
		margin-right: auto;
		padding-left: $gutter-site;
		padding-right: $gutter-site;
	}
}

.column {
	padding-left: $gutter;
	padding-right: $gutter;
}

.columns {
	margin-left: -$gutter;
	margin-right: -$gutter;
	display: flex;
	flex-wrap: wrap;
}

@for $i from 1 through 12 {
	.col-#{$i} { width: 8.33333333% * $i; }
}

svg:not(:root) {
	overflow: hidden;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.flex-between {
	justify-content: space-between;
}

.flex-end {
	align-items: flex-end;
}

.flex-align-center {
	align-items: center;
}

.flex-right {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-bottom {
	align-items: flex-end;
}


// offsets
$max: 10;

// margin-right
@for $i from 1 through $max {
	$value: $i * 5;
	.mr-#{$value} { margin-right: #{$value}px; }
}

// margin-left
@for $i from 1 through $max {
	$value: $i * 5;
	.ml-#{$value} { margin-left: #{$value}px; }
}

// margin-top
@for $i from 1 through $max {
	$value: $i * 5;
	.mt-#{$value} { margin-top: #{$value}px; }
}

// margin-bottom
@for $i from 1 through $max {
	$value: $i * 5;
	.mb-#{$value} { margin-bottom: #{$value}px; }
}

.nowrap {
	white-space: nowrap;
}

.absolute-block {
	@include absolute;
}

