$container: 1200px;
$container-slim: 1030px;
$gutter: 15px;
$gutter-site: 20px;
$link: #ff0000;
$link-hover: #ff0000;
$color: #000;
$size: 16px;
$font: Arial, sans-serif;
$xl: 1200px;
$md: 1023px;
$sm: 767px;
$xs: 600px;

@mixin hidden() {
   display: none;
}

@mixin visible() {
   display: block;
}

@mixin absolute() {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}

@mixin breakpoint($point) {
   @if $point == xl {
      @media (max-width: $xl) {
         @content ;
      }
   } @else if $point == md {
      @media (max-width: $md) {
         @content ;
      }
   } @else if $point == sm {
      @media (max-width: $sm) {
         @content ;
      }
   } @else if $point == xs {
      @media (max-width: $xs) {
         @content ;
      }
   }
}

@mixin breakpoint-min($point) {
   @if $point == xl {
      @media (min-width: $xl + 1) {
         @content ;
      }
   } @else if $point == md {
      @media (min-width: $md + 1) {
         @content ;
      }
   } @else if $point == sm {
      @media (min-width: $sm + 1) {
         @content ;
      }
   } @else if $point == xs {
      @media (min-width: $xs +1) {
         @content ;
      }
   }
}